<div class="border-b border-slate-200 pb-4 dark:border-gray-500" style="position: relative;">
  <div style="background-color: #DF6AC3; width: 26px; height: 4px; position: absolute; left: 0; bottom: -2px; border: 1px solid #DF6AC3; border-radius: 1px;"></div>
</div>
